<footer class="site-footer">
    <div class="container">
        <div class="footer-inner">
            <div class="copyright">
                &copy; 2021 perlatus<br>
                Unless otherwise noted, artwork is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a><br>
                Powered by <a href="https://ghost.org">Ghost</a> &amp; <a href="https://github.com/perlatus/Ruby">Ruby</a>
            </div>
        </div>
    </div>
</footer>