<footer class="site-footer">
    <div class="container">
        <div class="footer-inner">
            <div class="copyright">
                Unless otherwise noted, art is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
            </div>
        </div>
    </div>
</footer>