<div id="nsfw-gate" style="display:none">
    <div class="nsfw-form-container">
        <form id="nsfw-form" action="">
            <p>This page may contain sexually explicit adult content.</p>
            <div class="nsfw-checkboxes">
                <input type="checkbox" id="nsfw-consent">
                <label for="nsfw-consent">I wanna see it!</label>
                <br>
                <input type="checkbox" id="nsfw-legal">
                <label for="nsfw-legal">I am 18 or older.</label>
            </div>
            <button type="button" id="nsfw-submit" class="button" disabled>Enter</button>
        </form>
    </div>
</div>

<script src="{{asset "built/nsfw-gate.js"}}"></script>