/*
This css class used to be only for featured posts, but now it's for all posts.
*/
.post-feed .post {
    position: relative;
    min-height: 350px;
}

/*
I don't actually know why this works, but it does in fact make posts longer on small screens.
*/
@media (max-width: 768px) {
    .post-feed .post {
        min-height: 475px;
    }
}


.post-feed .post::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.post-feed .post > .post-image {
    z-index: -1;
}

.post-feed .post .post-media .post-image {
    display: none;
}

.post-feed .post .u-placeholder,
.post-feed .post .post-wrapper,
.post-feed .post .post-footer {
    position: relative;
    background-color: transparent;
}

.post-feed .post .post-wrapper {
    display: flex;
    align-items: flex-end;
}

.post-feed .post .post-header {
    margin-bottom: 0;
}

.post-feed .post .post-title {
    font-size: 22px;
    line-height: 1.2;
}

.post-feed .post .post-title-link,
.post-feed .post .post-excerpt,
.post-feed .post .post-link {
    color: var(--white-color);
}

.post-feed .post .post-image-link {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
}

.post-feed .post .post-excerpt {
    display: none;
}

.post-feed .post .post-footer {
    border-color: rgba(255, 255, 255, 0.2);
}

.post-feed .post .post-author-image {
    border-color: transparent;
}
